* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", serif;
}

.title {
  text-align: center;
  color: blueviolet;
  font-size: 50px;
  margin-bottom: 30px;
}

.card {
  margin: 0 auto;
  text-align: center;
}

.text-mail {
  font-size: 20px;
  margin-bottom: 10px;
}

.email-input {
  padding: 6px 0;
}

.button {
  padding: 6px 14px;
}

.result {
  margin-top: 10px;
}

.success {
  color: green;
}

.error {
  color: red;
}
